@model MyMvcProject.Entity.Concrete.Category
@{
    ViewBag.Title = "EditCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Edit Category</h2>
@using (Html.BeginForm("EditCategory", "AdminCategory", FormMethod.Post))
{
    <div class="form-group">
        @Html.HiddenFor(x => x.CategoryId, new { @class = "form-control" })
        <br />
        @Html.Label("Category Name")
        @Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.CategoryName, "", new { @class = "text-danger" })
        <br />
        @Html.Label("Category Description")
        @Html.TextAreaFor(x => x.CategoryDescription, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.CategoryDescription, "", new { @class = "text-danger" })

        <br />
        <button class="btn btn-warning">Save Changes</button>
    </div>
}